.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-radius: .25rem;
    border: 1px solid #d2d6da;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder,
.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    color: #495057;
    /* color: #adb5bd; */
    font-size: 0.875rem;
}

.select2.select2-container.select2-container--bootstrap4.select2-container--below .select2-selection__rendered {
    color: #495057;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #adb5bd transparent transparent transparent;
}

.select2-container .select2-search--inline .select2-search__field {
    font-size: 0.875rem;
}

::-webkit-input-placeholder {
    color: #adb5bd;
}

::-moz-placeholder {
    color: #adb5bd;
}

:-ms-input-placeholder {
    color: #adb5bd;
}

:-moz-placeholder {
    color: #adb5bd;
}

.form-control.select2-container .select2-search--inline .select2-search__field {
    min-height: unset;
    padding: .375rem .75rem;
    font-size: 0.75rem;
    border-radius: 0.5rem;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder, .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered{
    padding: .375rem .75rem
}

.select2-container--bootstrap4 .select2-selection--single, .select2-container--default .select2-selection--multiple, .select2-container--bootstrap4 .select2-selection--multiple {
    height: calc(1.5em + .75rem + 2px);
}
